.box {
  width: 350px;
  height: 220px;

  /* внутрішні відступи */
  padding: 15px 20px 20px 10px; 
  /* топ — 15, право — 20, низ — 20, ліво — 10 */

  /* зовнішній відступ знизу */
  margin-bottom: 30px;

  /* пунктирна червона рамка */
  border: 2px dashed red;

  /* зелений фон */
  background-color: green;
}
